<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title>Flash Blog - {{ title }}</title>
        {% else %}
            <title>Flash Blog</title>
        {% endif %}
    </head>
    
    <body>
        <header>
            <h1>Welcome to Our Website!</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        
        <body>
            <h2>Homepage Content Goes Here</h2>
            <p>This is the homepage content.</p>
            {% for post in posts %}
                <h3>{{post.title}}</h3>
                <p>By {{post.author}} on {{post.date_posted}}</p>
                <p>{{post.content}}</p>
            {% endfor %}
        </body>
        
        
        <footer>
            <p>&copy; 2024 Your Website Name. All rights reserved.</p>
        </footer>
    </body>
</html>
